body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pacifico', cursive;
    background-image: url('../images/Valentines-Day-GIFs-5.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.animate-title {
    display: inline-block;
    transform: translateY(0);
    animation: heartbeat 2s ease-in-out infinite;
}

.animate-button {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 24px;
    width: 150px;
    border: none;
    border-radius: 50%;
    background-color: #ff0066;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.animate-button:hover {
    background-color: #ff6666;
    color: #fff;
    transform: scale(1.1);
}

@keyframes heartbeat {
    0% {
        transform: translateY(0) rotate(0deg);
        color: #ff0066;
    }
    25% {
        transform: translateY(-10px) rotate(0deg);
        color: #ff0066;
    }
    50% {
        transform: translateY(0) rotate(0deg);
        color: #ff0066;
    }
    75% {
        transform: translateY(-10px) rotate(0deg);
        color: #ff0066;
    }
    100% {
        transform: translateY(0) rotate(0deg);
        color: #ff0066;
    }
}